RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]

#AuthType Basic
#AuthUserFile /home/perepelka/public_html/parser/.htpasswd
#AuthName perepelka
#require valid-user
